/* Genel stiller */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.navbar-brand img {
    width: 150px; /* Logonun genişliği */
    height: auto; /* Yüksekliği otomatik ayarlayın */
}

.nav-link {
    color: #343a40 !important;
}

.nav-link:hover {
    color: #007bff !important;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

footer {
    background-color: #ffffff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* Form stilleri */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Responsive stiller */
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .navbar-brand img {
        width: 120px; /* Küçük ekranlar için logo boyutu */
    }
}
